@charset "UTF-8";

body {
  background: linear-gradient(45deg, gold, white);
}

button:hover {
  transform: perspective(400px) translateZ(40px);
  transition: 0.5s;
}

/* ----------- header ----------- */
.header-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.container {
  height: 100vh;
}

.question-box {
  font-size: 50px;
  font-weight: bold;
  margin: 50px 0;
  text-align: center;
  padding: 20px;
  background: linear-gradient(50deg, white, blue);
  border: 5px solid #000;
  border-radius: 20px;
}

.question-btn-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.question-btn {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;
  background: white;
  color: blue;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.1em;
}
